<div class="dice-roller col-xs-12 col-lg-6">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <input id="{{ 'diceLabel_' + diceRollerCtrl.index }}"
                       class="form-control dice-label"
                       data-ng-model="diceRollerCtrl.label"
                       placeholder="Name of the roll">
            </div>
            <div class="form-group">
                <input id="{{ 'diceAmount_' + diceRollerCtrl.index }}"
                       type="number"
                       class="form-control number-modifier"
                       data-ng-model="diceRollerCtrl.diceAmount"
                       data-ng-change="diceRollerCtrl.resetRolls()"
                       placeholder="amount">
                <label for="{{ 'diceAmount_' + diceRollerCtrl.index }}">&times;</label>
            </div>
            (
            <div class="form-group">
                <select id="{{ 'diceTypeSelect_' + diceRollerCtrl.index }}"
                        class="form-control"
                        data-ng-model="diceRollerCtrl.selectedDice"
                        data-ng-options="dice as 'D' + dice for dice in [4,6,8,10,12,20,100]"
                        data-ng-change="diceRollerCtrl.resetRolls()">
                </select>
            </div>
            <div class="form-group">
                <label for="{{ 'diceModifier_' + diceRollerCtrl.index }}">+</label>
                <input id="{{ 'diceModifier_' + diceRollerCtrl.index }}"
                       type="number"
                       class="form-control number-modifier"
                       data-ng-model="diceRollerCtrl.perDiceModifier"
                       placeholder="modifier">
            </div>
            )
            <div class="form-group">
                <label for="{{ 'totalModifier_' + diceRollerCtrl.index }}">+</label>
                <input id="{{ 'totalModifier_' + diceRollerCtrl.index }}"
                       type="number"
                       class="form-control number-modifier"
                       data-ng-model="diceRollerCtrl.totalModifier"
                       placeholder="modifier">
            </div>
            <button class="btn btn-primary " data-ng-click="diceRollerCtrl.roll()">Roll</button>
            <button class="btn btn-warning " data-ng-click="diceRollerCtrl.resetRolls()">Reset</button>
        </div>
    </div>
    <div class="row">
        <ol class="col-xs-12 results">
            <li data-ng-repeat="total in diceRollerCtrl.values track by $index">
                <span class="label label-primary">{{ total.total }}</span>
                <span>=</span>
                <span data-ng-repeat="roll in total.rolls track by $index">
                    <span class="label"
                          data-ng-class="{
                            'label-danger': roll.nat1,
                            'label-success': roll.nat20,
                            'label-info': !(roll.nat1 || roll.nat20)
                          }">
                        {{ roll.roll }} + {{ roll.mod }}
                    </span>
                    <span>+</span>
                </span>
                <span class="label label-default">{{ total.mod }}</span>
            </li>
        </ol>
    </div>
</div>